In [5]:
# 데이터 불러오기

import pandas as pd
df = pd.read_csv('data/retail_data.csv')
df.head()

,OrderID,StockCode,ProdName,Quantity,OrderDate,UnitPrice,CustomerID
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01,2.55,17850.0
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01,3.39,17850.0
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01,2.75,17850.0
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01,3.39,17850.0
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01,3.39,17850.0

In [6]:
# 결제 id와 상품 정보만 남기기
df2 = df[['OrderID', 'ProdName']]
df2.head()

   OrderID                             ProdName
0   536365   WHITE HANGING HEART T-LIGHT HOLDER
1   536365                  WHITE METAL LANTERN
2   536365       CREAM CUPID HEARTS COAT HANGER
3   536365  KNITTED UNION FLAG HOT WATER BOTTLE
4   536365       RED WOOLLY HOTTIE WHITE HEART.

In [7]:
# groupby() 함수를 이용하여 결제 ID 별로 구매 상품 목록을 묶기
# apply(list)라는 코드를 적용하면, 기준이 되는 컬럼(ProdName)을 리스트 형태로 묶는다는 의미

basket_df = df2.groupby('OrderID')['ProdName'].apply(list).reset_index()
basket_df.head()

   OrderID                                           ProdName
0   536365  [WHITE HANGING HEART T-LIGHT HOLDER, WHITE MET...
1   536366  [HAND WARMER UNION JACK, HAND WARMER RED POLKA...
2   536367  [ASSORTED COLOUR BIRD ORNAMENT, POPPY'S PLAYHO...
3   536368  [JAM MAKING SET WITH JARS, RED COAT RACK PARIS...
4   536369                         [BATH BUILDING BLOCK WORD]